<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title of the page-->
        <title>INE Lab Config Automation</title>

        <!-- Bootstrap and Favicon -->
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel=icon>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    </head>

    <header>
    </header>

    <body>
        <!-- Creating Fluid Container -->
        <div class="container-fluid">
            <!-- Creating row with the Title -->
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center bg-info">INE Lab Config Automation</h1>
                </div>
            </div>
            {% if loading is not none %}
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center bg-success">{{ loading }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="{{ url_for('main') }}" class="btn btn-primary" role="button">Load Another Lab...</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Select the INE Lab that you want to load...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="dropdown btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="ine_labs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            INE Labs
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ine_labs">
                            {% for l in list %}
                                <li><a href="{{ url_for('load_lab', lab = l) }}">{{ l }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </body>
</html>